
body{
    background-color: beige;
}
#form-container{
    width: 500px;
    
    background-color: #fff;
    padding: 50px;
    border-radius: 50px ;
    border: 2px solid rgb(14, 107, 42);
    position: fixed;
    top:50%;
    left:50%;
    
    transform: translate(-50%, -50%);
   
}
#logo{
    display: block;
    width: 400px;
    margin: 0 auto;
}
#welcome-message{
    text-align: center;
    display: block;
}
#welcome-message h1{
    font-size: 36px;
}


#welcome-message p{
    font-size: 16px;
    color: rgb(97, 98, 105);
    font-weight: 500;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form-field{
    margin-bottom: 10px;
}

.form-field label{
    font-size: 16px;
    line-height: 1.7em;
}

.form-field input{
    width: 100%;
    border:2px solid rgba(198,202,219,1);
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
}

.form-field input[type='submit']{
    background-color: rgb(75, 93, 172);
    border:none;
    color: #fff;
}


/* *****streame.html styling***** */

#room-name-wrapper{
    
    text-align: center;
    font-size: 18px;
}

#video-streams{
    display: flex;
    flex-wrap: wrap;
    height: 85vh;
    width: 75%;
    margin:0 auto;
}



.video-container{
    flex-basis: 500px;
    flex-grow: 1;
    max-height: 100%;
    min-height: 350px;
    border: 1px solid rgb(75, 93, 172);
    border-radius: 5px;
    margin: 2px;
    background-color: rgba(198,202,219,1);
    position: relative;
}


.video-player{
    height: 100%;
    width: 100%;
}

.video-player > * {
    border-radius: 5px;
}

.username-wrapper{
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 9999;
    background-color: rgba(11, 238, 30, 0.3);
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
}

@media screen and (max-width:1650px) {
    .video-container{
        flex-basis: 300px;
        min-height: 200px;
    }
}


/* ------------------  Streams Page | Controls ------------------ */


#controls-wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    column-gap: 1em;
    position: fixed;
    padding: 5px 20px;
    bottom: 100px;


}

.control-icon{
    height: 20px;
    width: 20px;
    
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#leave-btn{
    background-color: rgb(34, 43, 128);
}

/* real time message style */
#showmessage{
    display: block;
    height: fit-content;
    width :10%;
    border: 2px solid rgb(67, 129, 95);
    border-radius: 10px;
}

.send-messege{
    justify-content: center;
}
